extends layout

block content
  h1.mb-4 Author: #{author.name}
  p.lead #{author.date_of_birth} - #{author.date_of_death}

  .card.mt-4
    .card-body
      h2.card-title.h4 Books by this author
      if author_books.length
        .list-group.list-group-flush
          each book in author_books
            .list-group-item
              h5.mb-1
                a(href=book.url) #{book.title}
              p.mb-1 #{book.summary}
      else
        p.card-text This author has no books.

  .mt-4
    a.btn.btn-danger(href=`${author.url}/delete`) Delete Author