extends layout

block content
  h1.mb-4= title

  if author_list.length
    .list-group
      each author in author_list
        a.list-group-item.list-group-item-action(href=author.url)
          .d-flex.w-100.justify-content-between
            h5.mb-1 #{author.name}
            small #{author.date_of_birth} - #{author.date_of_death}
  else
    .alert.alert-info No authors are currently available.