extends layout

block content
  h1.mb-4 #{book.title}

  .card.mb-4
    .card-body
      h5.card-title Book Details
      p.card-text
        strong Author: 
        a(href=book.author.url) #{book.author.name}
      p.card-text
        strong Summary: 
        | #{book.summary}
      p.card-text
        strong ISBN: 
        | #{book.isbn}
      p.card-text
        strong Genre: 
        each val, index in book.genre
          a(href=val.url) #{val.name}#{index < book.genre.length - 1 ? ', ' : ''}

  h2.mb-3 Copies

  if book_instances.length
    .list-group
      each val in book_instances
        .list-group-item
          h5.mb-1
            case val.status
              when 'Available'
                span.badge.bg-success #{val.status}
              when 'Maintenance'
                span.badge.bg-danger #{val.status}
              default
                span.badge.bg-warning #{val.status}
          p.mb-1
            strong Imprint: 
            | #{val.imprint}
          if val.status !== 'Available'
            p.mb-1
              strong Due back: 
              | #{val.due_back}
          p.mb-1
            strong ID: 
            a(href=val.url) #{val._id}
  else
    .alert.alert-info There are no copies of this book in the library.

  .mt-4
    a.btn.btn-danger.me-2(href=`${book.url}/delete`) Delete Book
    a.btn.btn-primary(href=`${book.url}/update`) Update Book