extends layout

block content
  h1.mb-4 Book Instance: #{bookinstance._id}

  .card
    .card-body
      h5.card-title
        a(href=bookinstance.book.url) #{bookinstance.book.title}
      p.card-text
        strong Imprint: 
        | #{bookinstance.imprint}
      p.card-text
        strong Status: 
        case bookinstance.status
          when 'Available'
            span.badge.bg-success #{bookinstance.status}
          when 'Maintenance'
            span.badge.bg-danger #{bookinstance.status}
          default
            span.badge.bg-warning #{bookinstance.status}
      if bookinstance.status != 'Available'
        p.card-text
          strong Due back: 
          | #{bookinstance.due_back}